<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SelfFinanceWeb</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/Operations">
                    <i class="bi bi-list-check me-2"></i> Operations
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/Categories">
                    <i class="bi bi-tags-fill me-2"></i> Categories
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/DailyReport">
                    <i class="bi bi-calendar-day me-2"></i> Daily Report
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/PeriodReport">
                    <i class="bi bi-calendar-range me-2"></i> Period Report
                </NavLink>
            </div>
        </nav>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
